html,body{
    height:100%;
    background-image: url('img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
   float: right;
    padding: 8px;
    
}
.nav-item{
   padding: 10px;
   color: white;
}
a{
    font-size: 28px;
    color: white;
}
u{
    text-align: center;
    text-decoration:none;
    font-size: 60px;
    font-weight: bolder;
    color: white;
    margin: 30px;
    padding-right: 10px;
    border-bottom:6px solid yellow;

}
span{
    text-decoration:white;
}
@media(max-width:1200px){
 
    header{ margin:20px;
}

}
@media(max-width:768px){
 
    .collapse{
         display: block;    
}
.list{
    display: none;
    margin-top: 10%;
}
}
.div1{
    position: absolute;
    top:55%;
    left:-10%;
 
    -webkit-transform: rotate(270deg);
    display: inline;
}
ul li{
    display: inline;
    color: white;
    font-size: 28px;
}
.p{
border-bottom:6px solid red;
padding: 20px;
}
.o{
    border-bottom:6px solid yellow;
    padding: 20px;
    }